@import "tailwindcss";
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000%);
  }
}

.animate-marquee {
  animation: marquee 8s linear infinite;
}
@font-face {
  font-family: "Turnkey";
  src: url("/src/assets/fonts/Turnkey-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Apply globally */
* {
  font-family: "Turnkey", sans-serif;
}


